.blog {
  width: 100%;
  box-sizing: border-box;
  padding-top: 17px;
}

.campaign {
  display: flex;
  margin: 0 auto;
}

.campaign__text {
  color: $accent-color;
  font-size: 12px;
  letter-spacing: -0.9px;
  margin-right: 11px;
}

.campaign__btn {
  font-size: 11px;
  width: 116px;
}

.top-bar__timer {
  display: none
}

@media (min-width: 1440px) {
  .blog {
    padding-top: 46px;
  }
}


