.blog {
  width: 100%;
}

.blog-container {
  box-sizing: border-box;
  padding: 46px 0 0 34px;
}


.blog-header-links {
  position: relative;
  margin-bottom: 30px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $white;
    bottom: -15px;
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    margin-right: 30px;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;


    a {
      text-decoration: none;
      color: $light-text;

      &:hover {
        color: $white;
      }
    }

    .link-active {
      color: $white;
    }
  }
}

.blog-content {
  min-height: 534px;

  .blog-content-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin-bottom: 124px;
  }

  .blog-content-item {
    position: relative;
    border: none;
    min-width: 343px;
    height: 342px;
    margin-right: 50px;
    background-color: #24272D;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 13, 0.5);

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }

  .item-description {
    content: " ";
    position: absolute;
    bottom: -110px;
    left: 0;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../images/svg/foodtech.svg");
      width: 53px;
      height: 14px;
    }

    h2 {
      font-size: 17px;
      line-height: 24px;
    }

    span {
      font-size: 12px;
      line-height: 13px;
      font-weight: $base-font-weight;
    }
  }

  .blog-content-list--pages {
    width: 100%;
    margin-bottom: 32px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 12px;
        color: $light-text;

        &:hover {
          color: $white;
        }
      }
    }

    li {
      width: 40px;
      height: 40px;
      background-color: $white;
      color: $dark-text;
      box-sizing: border-box;
      padding: 1%;
      text-align: center;
      border-radius: 4px;
      margin-left: 5px;
      margin-right: 5px;

      &:hover {
        background-color: rgba(255, 255, 255, .7);
      }
    }

    .page-active {
      background-color: $corp-blue;
    }
  }
}


@media (min-width: 320px) {
  .blog-header-links {
    margin-bottom: 45px;

    li {
      margin-right: 30px;
      font-size: 14px;
      line-height: 22px;
    }
  }


  .blog-container {
    padding: 17px 15px;
  }

  .blog-content {

    .blog-content-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-bottom: 10px;

    }

    .blog-content-item {
      align-self: center;
      min-width: 200px;
      height: 200px;
      margin: 0;
      margin-bottom: 135px;
    }

    .item-description {
      width: 312px;
      left: -55px;

      h2 {
        font-size: 16px;
      }
    }

    .blog-content-list--pages {
      li {
        padding: 9px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .campaign {
    display: flex;
    margin: 0 auto;
  }

  .campaign__text {
    color: $accent-color;
    font-size: 12px;
    letter-spacing: -0.9px;
    margin-right: 44px;
  }

  .campaign__btn {
    font-size: 11px;
    width: 116px;
  }

  .top-bar__timer {
    display: none
  }
}

@media (min-width: 768px) {
  .blog-content {

    .blog-content-item {
      min-width: 300px;
      height: 300px;

    }
  }
}

@media (min-width: 1440px) {
  .blog-header-links {
    li {
      font-size: 17px;
    }
  }

  .blog-content {
    min-height: 534px;

    .blog-content-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style: none;
    }

    .blog-content-item {
      min-width: 343px;
      height: 342px;
      margin-right: 50px;
    }

    .blog-content-list--pages {
      li {
        width: 40px;
        height: 40px;
        padding: 1%;
      }
    }
  }
}
